<div class="CallToAction {{#if centered}}centered{{/if}} wrapper {{#if bottomMargin}}bottom-margin{{/if}} {{#if topMargin}}top-margin{{/if}}">
	<a class="btn purple
		{{#if (eq type 'link')}}link{{/if}}
	" href="{{url}}">{{label}}</a>
</div>
