<div class="Background">
	<div class="Background__container purple">
		<div class="corner-decoration top-left vertical yellow"></div>
		<div class="corner-decoration bottom-right horizontal yellow"></div>
	</div>
</div>
