.list {
	&--item {
		margin-bottom: $global-margin-y-lg;
	}

	&--anchor {
		display: block;
		color: $wwm-black;

		@include transition(color 0.2s ease);

		&:hover {
			color: $wwm-purple-light;
		}
	}
}
