.text-white {
	color: $wwm-white;
}

.bg-white {
	background: $wwm-white;
}

.bg-grey--light {
	background: $wwm-bg-light;
}

.bg-grey--darker {
	background: $wwm-grey-darker;
}

.bg-red {
	background: $wwm-red;
}

.bg-purple--light {
	background: $wwm-purple-light;
}

.bg-purple--dark {
	background: $wwm-purple-dark;
}
