<div class="form__progress js-progress">
	<div class="intro form__progress--title">{{title}}</div>
	<div class="h4 form__progress--sub-title">{{subtitle}}</div>

	<div class="form__progress--bar">
		<div class="form__progress--bar-in" data-steps="{{progress.totalSteps}}" data-currentstep="{{progress.currentStep}}"></div>
	</div>
</div>
