<div class="LoginButton">
	<a class="LoginButton__button btn purple" href="{{url}}">
		<span class="LoginButton__icon icon-container-tall">
			<img class="lazy v-center" src="{{placeholder}}" data-imgs="{{icon}}" alt="">
		</span>
		{{label}}
	</a>
</div>
