<div class="wrapper">
	<div class="LastReviewed {{#if bottomMargin}}bottom-margin{{/if}} {{#if topMargin}}top-margin{{/if}}">
		<p class="LastReviewed__text">{{label}}
			<span class="LastReviewed__date">{{date}}</span>
		</p>
	</div>
</div>

