<div class="wrapper rte">
	<div class="Notice Notice--{{type}} {{#if bottomMargin}}bottom-margin{{/if}} {{#if topMargin}}top-margin{{/if}}">
		<h4 class="Notice__title">
			<span class="srt">{{type}}</span>
			{{title}}
		</h4>
		<p class="Notice__text">{{text}}</p>
	</div>
</div>
