.btn {
	display: inline-block;
	border: none;
	padding: 19.5px 30px;
	border-radius: 40px;
	border-bottom: 5px solid transparent;
	font-size: 16px;
	text-align: center;

	@include transition((background-color 0.5s, border-color 0.5s, color 0.5s));

	&.btn-primary {
		color: $wwm-white;
		background: $wwm-purple-light;
		border-bottom-color: $wwm-purple-dark;

		&:hover {
			color: $wwm-white;
			background: $wwm-purple-dark;
			border-bottom-color: $wwm-purple-darker;
		}
	}

	&.btn-secondary {
		color: $wwm-purple-light;
		background: $wwm-bg-light;
		border-bottom-color: #e5e2e9;

		&:hover {
			color: $wwm-white;
			background: $wwm-purple-light;
			border-bottom-color: $wwm-purple-dark;
		}
	}

	&.btn-secondary-invert {
		color: $wwm-purple-light;
		background: $wwm-white;
		border-bottom-color: $wwm-grey-light;

		&:hover {
			color: $wwm-white;
			background: $wwm-purple-light;
			border-bottom-color: $wwm-purple-dark;
		}
	}

	&.btn-block {
		display: block;
		width: 100%;
		text-align: center;
	}

	&.btn-wide {
		font-weight: $font-weight-bold;
		min-width: 210px;
	}
}
