<div class="CookieBanner js-cookie-banner hidden" role="region" aria-label="Cookie banner" tabindex="0">
	<div class="CookieBanner__container">
		<div class="CookieBanner__text">{{{text}}}</div>
		<button class="CookieBanner__button btn turquoise js-cookie-action" type="button">{{btn}}</button>
	</div>
</div>
