<div class="Popup">
	<div class="Popup__box rte js-popup-box" tabindex="-1">
		<div class="corner-decoration top-right vertical yellow"></div>
		<h2 class="Popup__title">{{{title}}}</h2>
		<p>{{{message}}}</p>
		<button class="js-popup-btn btn purple" type="button">{{button}}</button>
	</div>
</div>
