<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title></title>
		<style type="text/css" media="all">
body {
	background: #f4f0fa;
	font-size: 18px;
}

header {
	border-bottom: 1px solid #ae9bbc;
}

p {
	color: #444;
	line-height: 30px;
}

.light-purple,
a {
	color: #59029f;
}

.underline {
	text-decoration: underline;
}

.bold {
	font-weight: 600;
}

.logo {
	display: block;
	margin-bottom: 30px;
	width: 300px;
}

.logo img {
	display: block;
	max-width: 100%;
}
		</style>
	</head>
	<body>
		<div style="max-width: 700px; border-radius: 5px; margin: 0 auto; background: #f4f0fa; font-size: 18px; padding: 30px;">
			<header style="border-bottom: 1px solid #ae9bbc">
				<a style="display: block; margin-bottom: 30px; width: 300px;" class="logo" href="http://scope.org.uk">
					<img style="display: block; max-width: 100%;" src="/imgs/logo.png" alt="Scope's homepage" width="300px" />
				</a>
			</header>
			<div>
				<p style="color: #444; line-height: 30px; margin-bottom: 30px">Dear Firstname,</p>

				<p style="color: #444; line-height: 30px; margin-bottom: 30px">
					Welcome to Team Scope!<br>
					We're so excited to have you on the team and extremely grateful that you have chosen to support Scope in your challenge.
				</p>

				<p style="color: #444; line-height: 30px; margin-bottom: 30px">
					Here are your registration details:<br>
					Amount paid: $60<br>
					Event: Skydiving<br>
					Event date: 12/05/2018
				</p>
			</div>

			<p style="color: #444; line-height: 30px; margin-bottom: 30px">
				Best wishes,<br>
				<span style="color: #59029f; font-weight: 600;" class="light-purple bold">The Scope Events Team</span><br>
				<span style="color: #59029f; font-weight: 600;" class="light-purple bold">E:</span> events@scope.org.uk<br>
				<span style="color: #59029f; font-weight: 600;" class="light-purple bold">T:</span> 0207 619 7270<br>
			</p>

			<p style="color: #444; line-height: 30px; margin-bottom: 30px">PS. You can also follow Scope Events on <a style="color: #59029f; text-decoration: underline; font-weight: 600;" class="light-purple underline bold" href="https://twitter.com/scope">Twitter</a> or <a style="color: #59029f; text-decoration: underline; font-weight: 600;" class="light-purple underline bold" href="https://en-gb.facebook.com/Scope/">Facebook</a></p>
		</div>
	</body>
</html>
