{{!-- pages/index.hbs --}}

{{#> defaultLayout title="Index"}}
	{{#*inline "content"}}
		<br><br><br>

		<div class="wrapper rte">
			<div style="display:inline-block;width:50%;vertical-align:top;">
				<h3 class="underline">Modules</h3>
				<ul>
					<li><a href="heroes.html">Hero module</a></li>
					<li><a href="quote.html">Quote</a></li>
					<li><a href="usp.html">USP</a></li>
					<li><a href="gallery.html">Gallery</a></li>
					<li><a href="video.html">Video</a></li>
					<li><a href="image.html">Image</a></li>
					<li><a href="preview_panel.html">Preview panel</a></li>
					<li><a href="event_details.html">Event details</a></li>
					<li><a href="summary.html">Summary</a></li>
					<li><a href="accordion.html">Accordion</a></li>
					<li><a href="content_core.html">Content Core</a></li>
					<li><a href="socials.html">Socials</a></li>
					<li><a href="services.html">Services</a></li>
					<li><a href="partners.html">Partners</a></li>
					<li><a href="contribution.html">Contribution</a></li>
					<li><a href="campaigns_stories.html">Campaign stories</a></li>
					<li><a href="event_listing.html">Events</a></li>
					<li><a href="opportunityFinder.html">Opportunity finder</a></li>
					<li><a href="shop_finder.html">Shop finder</a></li>
					<li><a href="contact_us.html">Contact us</a></li>
					<li><a href="rte.html">Rich text</a></li>
					<li><a href="generic_payment.html">Generic payment</a></li>
					<li><a href="promoted_items.html">Promoted items</a></li>
					<li><a href="job_listing.html">Job listing</a></li>
					<li><a href="revealing_form.html">Revealing form</a></li>
				</ul>
			</div><!--
			--><div style="display:inline-block;width:50%;vertical-align:top;">
				<h3 class="underline">Example pages</h3>
				<ul>
					<li><a href="article.html">Article page</a></li>
					<li><a href="donation.html">Donation page</a></li>
					<li><a href="campaign.html">Campaign page</a></li>
					<li><a href="pageVideo.html">Standard page</a></li>
					<li><a href="giftaid.html">Gift aid page</a></li>
					<li><a href="content_core_result.html">ContentCore article page</a></li>
					<li><a href="thankyou.html">Thank you page</a></li>
					<li><a href="search.html">Search page</a></li>
					<li><a href="generic_forms.html">Generic forms</a></li>
					<li><a href="money_advice.html">Money advice</a></li>
					<li><a href="money_advice_iframe.html">Money advice iframe</a></li>
					<li><a href="job_page.html">Job page</a></li>
					<li><a href="404.html">404 page</a></li>
					<li><a href="500.html">500 page</a></li>
					<li><a href="maintenance.html">Maintenance page</a></li>
					<li><a href="email.html">Email template</a></li>
					<li><a href="login.html">login</a></li>
				</ul>
			</div>
	{{/inline}}
{{/defaultLayout}}
