@import "../../../shared/styles/base/variables";

.Partners {
	padding: $std-padding $lrg-padding;

	@include for-desktop-up {
		padding: $std-padding $wrapper-padding;
	}

	&__title {
		margin-bottom: $std-padding;
	}

	&__list {
		display: flex;
		flex-wrap: wrap;
	}

	&__item {
		margin-bottom: $std-padding;
		margin-right: $std-padding;
		flex-basis: calc(50% - #{$std-padding} / 2);
		flex-shrink: 0;

		&:nth-of-type(2n+2) {
			margin-right: 0;
		}

		@include for-tablet-up {
			flex-basis: calc(25% - ((3 * #{$std-padding} / 4) + 0.5px));

			&:nth-of-type(2n+2) {
				margin-right: $std-padding;
			}

			&:last-of-type {
				margin-right: 0;
			}
		}
	}

	&__img-container {
		display: block;
		margin-bottom: 10px;
		margin-right: $sm-padding;
		padding-top: 56.25%;
		position: relative;
		width: 100%;

		@include for-print {
			display: none;
		}
	}

	&__img {
		position: absolute;
		top: 0;
		height: 100%;
	}

	&__cta {
		text-align: center;

		.btn {
			padding-right: $lrg-padding;
			padding-left: $lrg-padding;
		}
	}
}
