<div class="wrapper rte">
	<div class="Statistic {{#if bottomMargin}}bottom-margin{{/if}} {{#if topMargin}}top-margin{{/if}}">
		<p class="Statistic--text">
			{{textBefore}}
			<em>{{statistic}}</em>
			{{textAfter}}</p>
	</div>
</div>
