<div class="wrapper rte">
    <div class="TableContainer js-table-container">
        <table class="bottom-margin">
            <tr>
                <th>Situation</th>
                <td>While i usually like to plan my work out in stages and complete it piece by piece, I can also achieve strong results under a tight deadline. Once, an employee left my old company days before a big project of his was due.</td>
                <td>I was asked to take it over, with only a few days to learn about and complete the project.</td>
            </tr>
            <tr>
                <th>Task</th>
                <td>I was asked to take it over, with only a few days to learn about and complete the project.</td>
                <td>I was asked to take it over, with only a few days to learn about and complete the project.</td>
            </tr>
            <tr>
                <th>Action</th>
                <td>I formed a task force and created a plan to delegate the work.</td>
                <td>I was asked to take it over, with only a few days to learn about and complete the project.</td>
            </tr>
            <tr>
                <th>Results</th>
                <td>I was asked to take it over, with only a few days to learn about and complete the project.</td>
                <td>We all completed the assignment with a day to spare. Think I tend to thrive under tight deadlines.</td>
            </tr>
        </table>
    </div>
    <div class="TableContainer js-table-container">
        <table class="bottom-margin">
            <tr>
                <th>Situation</th>
                <td>While i usually like to plan my work out in stages and complete it piece by piece, I can also achieve strong results under a tight deadline. Once, an employee left my old company days before a big project of his was due.</td>
                <td>I was asked to take it over, with only a few days to learn about and complete the project.</td>
            </tr>
            <tr>
                <th>Task</th>
                <td>I was asked to take it over, with only a few days to learn about and complete the project.</td>
                <td>I was asked to take it over, with only a few days to learn about and complete the project.</td>
            </tr>
            <tr>
                <th>Action</th>
                <td>I formed a task force and created a plan to delegate the work.</td>
                <td>I was asked to take it over, with only a few days to learn about and complete the project.</td>
            </tr>
            <tr>
                <th>Results</th>
                <td>I was asked to take it over, with only a few days to learn about and complete the project.</td>
                <td>We all completed the assignment with a day to spare. Think I tend to thrive under tight deadlines.</td>
            </tr>
        </table>
    </div>
</div>