{{#> blankLayout title="Buttons"}}
	{{#*inline "content"}}
		<div class="container-fluid u-h-100 d-flex">
			<div class="flex-fill d-flex flex-column align-items-center justify-content-center u-h-100 p-x-lg">
				<a href="" class="btn btn-primary">Primary Button</a>
				<div style="height: 100px;"></div>
				<a href="" class="btn btn-primary btn-block">Primary Button Block</a>
			</div>

			<div class="flex-fill d-flex flex-column align-items-center justify-content-center u-h-100 p-x-lg">
				<a href="" class="btn btn-secondary">Secondary Button</a>
				<div style="height: 100px;"></div>
				<a href="" class="btn btn-secondary btn-block">Secondary Button Block</a>
			</div>
			
			<div class="flex-fill d-flex flex-column align-items-center justify-content-center u-h-100 p-x-lg bg-grey--light">
				<a href="" class="btn btn-secondary-invert">Secondary Button Invert</a>
				<div style="height: 100px;"></div>
				<a href="" class="btn btn-secondary-invert btn-block">Secondary Button Invert Block</a>
			</div>
		</div>
	{{/inline}}
{{/blankLayout}}
