{{#> blankLayout title="Grid"}}
	{{#*inline "content"}}
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-12 m-b-md m-t-md text-center">
					<p class="intro">The grid system used on this website is Bootstrap 4 (<a href="https://getbootstrap.com/docs/4.1/layout/grid/" target="_blank">Documentation</a>)</p>
				</div>
			</div>
		</div>
	{{/inline}}
{{/blankLayout}}
