{{#> blankLayout title="Buttons"}}
	{{#*inline "content"}}
		<div class="container-fluid u-h-100 d-flex">
			<div class="flex-1 u-h-100 p-y-md p-x-md bg-purple--light text-white">#59029f&emsp;//&emsp;$wwm-purple-light</div>
			<div class="flex-1 u-h-100 p-y-md p-x-md bg-red text-white">#ff0a0a&emsp;//&emsp;$wwm-red</div>
			<div class="flex-1 u-h-100 p-y-md p-x-md bg-grey--darker text-white">#4f4f4f&emsp;//&emsp;$wwm-grey-darker</div>
			<div class="flex-1 u-h-100 p-y-md p-x-md bg-grey--light">#f6f3fa&emsp;//&emsp;$wwm-bg-light</div>
		</div>
	{{/inline}}
{{/blankLayout}}
