{{#> blankLayout title="Spacing"}}
	{{#*inline "content"}}
		<div class="container-fluid m-y-lg">
			<div class="row justify-content-center">
				<div class="col-sm-8 m-b-lg">
					<code>Variables declarations can be found in workwithme/styles/config/_config.variables.scss</code>
				</div>
			</div>

			<div class="row justify-content-center">
				<div class="col-sm-4">
					<div class="h2 m-b-md">Margin</div>

					<div class="h4 m-b-sm">X-Axis</div>
					<p class="m-b-md">.m-x-[0,xs,sm,md,lg,xl]</p>

					<div class="h4 m-b-sm">Y-Axis</div>
					<p class="m-b-xl">.m-y-[0,xs,sm,md,lg,xl]</p>

					<div class="h4 m-b-sm">Top</div>
					<p class="m-b-md">.m-t-[0,xs,sm,md,lg,xl]</p>

					<div class="h4 m-b-sm">Right</div>
					<p class="m-b-md">.m-r-[0,xs,sm,md,lg,xl]</p>

					<div class="h4 m-b-sm">Bottom</div>
					<p class="m-b-md">.m-b-[0,xs,sm,md,lg,xl]</p>

					<div class="h4 m-b-sm">Left</div>
					<p class="m-b-md">.m-l-[0,xs,sm,md,lg,xl]</p>
				</div>

				<div class="col-sm-4">
					<div class="h2 m-b-md">Padding</div>

					<div class="h4 m-b-sm">X-Axis</div>
					<p class="m-b-md">.p-x-[0,xs,sm,md,lg,xl]</p>

					<div class="h4 m-b-sm">Y-Axis</div>
					<p class="m-b-xl">.p-y-[0,xs,sm,md,lg,xl]</p>

					<div class="h4 m-b-sm">Top</div>
					<p class="m-b-md">.p-t-[0,xs,sm,md,lg,xl]</p>

					<div class="h4 m-b-sm">Right</div>
					<p class="m-b-md">.p-r-[0,xs,sm,md,lg,xl]</p>

					<div class="h4 m-b-sm">Bottom</div>
					<p class="m-b-md">.p-b-[0,xs,sm,md,lg,xl]</p>

					<div class="h4 m-b-sm">Left</div>
					<p class="m-b-md">.p-l-[0,xs,sm,md,lg,xl]</p>
				</div>
			</div>
		</div>
	{{/inline}}
{{/blankLayout}}
