{{#> blankLayout title="Typography"}}
	{{#*inline "content"}}
		<div class="container-fluid">
			<div style="height: 100px;"></div>

			<strong>H1</strong>
			<h1 class="h1">Join The Community</h1>

			<div style="height: 100px;"></div>

			<strong>Intro</strong>
			<p class="intro"><a href="#">#WorkWithMe</a> is a growing community of businesses committed to thinking and acting differently about disability. The community is set up to allow members to share information, advice and insights in a safe, open and honest environment.</p>

			<div style="height: 100px;"></div>

			<strong>H2</strong>
			<h2 class="h2">How it Works</h2>

			<div style="height: 100px;"></div>

			<strong>H3</strong>
			<h3 class="h3">At magnum periculum adiit</h3>

			<div style="height: 100px;"></div>

			<strong>H4</strong>
			<h4 class="h4">At magnum periculum adiit</h4>

			<div style="height: 100px;"></div>

			<strong>H5</strong>
			<h5 class="h5">At magnum periculum adiit</h5>

			<div style="height: 100px;"></div>

			<strong>P</strong>
			<p>Did you know that 1 million disabled people in the UK want to work but aren’t given the opportunity? That’s where we come in. #WorkWithMe is a growing community of businesses committed to thinking and acting differently about disability. The community is set up to allow members to share information, advice and insights in a safe, open and honest environment.</p>
			
			<div style="height: 100px;"></div>
		</div>
	{{/inline}}
{{/blankLayout}}
