<div class="USP {{#if bottomMargin}}bottom-margin{{/if}}{{#if topMargin}}top-margin{{/if}}{{#if purple}}purple{{/if}}">
	<div class="USP__container">
		<svg class="USP__left-corner" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 100 100"  xml:space="preserve">
			<path d="M100,0.49c-3.39,2.65-6.57,5.56-9.55,8.72c-18.49,19.72-27.78,47.32-27.78,82.9V100H100L100,0.49z"></path>
		</svg>
		<svg class="USP__right-corner" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 100 100" xml:space="preserve">
			<path d="M100,0.49c-3.39,2.65-6.57,5.56-9.55,8.72c-18.49,19.72-27.78,47.32-27.78,82.9V100H100L100,0.49z"></path>
		</svg>
		<div class="wrapper rte">
			<p class="USP__text">{{text}}</p>
			<p class="USP__close"><strong>{{close}}</strong></p>
		</div>
	</div>
</div>
