@import "../../../../styles/base/variables";

.MainNavigation {
	&__list {
		border-top: 1px solid $transparent-purple-solid;
		list-style-type: none;

		@include for-tablet-up {
			display: flex;
			border-right: 1px solid $transparent-purple-solid;
		}
	}

	&__item {
		text-align: left;

		@include for-tablet-up {
			flex-grow: 1;
			position: relative;
			text-align: center;
		}

		&-mobile {
			@include for-tablet-up {
				display: none;
			}
		}
	}

	&__subwrapper {
		position: relative;

		&.opened {
			ul {
				display: block;
			}

			img {
				transform: rotate(180deg);
			}
		}

		@include for-tablet-up {
			&:hover {
				ul {
					display: block;
				}

				img {
					transform: rotate(180deg);
				}
			}
		}
	}

	&__sublist {
		background: $gray;
		display: none;
		list-style-type: none;

		@include for-tablet-up {
			min-width: calc(100% + 1px); // Includes border right
			position: absolute;
			top: calc(1em + #{em(42px)} + 1px);
			z-index: 4;
		}
	}

	&__handle,
	&__link {
		border-bottom: 1px solid $transparent-purple-solid;
		color: inherit;
		display: inline-block;
		outline-offset: -3px;
		padding: 1.3em 2em 1.3em 25px;
		width: 100%;

		&.current {
			background: $gray;
			box-shadow: inset 0 -5px 0 $light-purple;
		}

		@include for-tablet-up {
			border-left: 1px solid $transparent-purple-solid;
			padding: em(21px) 0.5em;
			transition: box-shadow 0.2s linear;

			&:hover,
			&:focus {
				box-shadow: inset 0 -5px 0 $light-purple;
			}
		}
	}

	&__handle {
		background: none;
		cursor: pointer;
		margin: 0; // Safari fix
	}

	&__subitem {
		white-space: nowrap;
		text-align: left;
	}

	&__link {
		&--sub {
			padding-left: 50px;
		}

		@include for-tablet-up {
			&--sub {
				border-right: 1px solid $transparent-purple-solid;
				padding-left: 1em;
				padding-right: 1em;
			}
		}
	}

	&__prefix-icon,
	&__postfix-icon {
		position: absolute;
		right: 1em;
		height: 1em;
		vertical-align: top;
		transition: transform linear 0.2s;

		@include for-tablet-up {
			position: static;
		}

		&.link {
			height: 0.75em;
		}
	}

	&__postfix-icon {
		@include for-tablet-up {
			display: none;

			.MainNavigation__handle & {
				display: inline-block;
			}
		}
	}
}
