<div class="form__footer js-form-footer">
	{{#if (eq type 'submit')}}
		<div class="layout form-submit">
			<button type="submit" class="btn btn-primary btn-block">{{label}}</button>
			<div class="disclaimer m-t-md">{{{disclaimer}}}</div>
		</div>
	{{/if}}
</div>
