<div class="NotFound">
	<div class="rte wrapper">
		{{#if title}}
			<h1 class="underline">{{title}}</h1>
		{{/if}}
		<p>{{{content}}}</p>
		<a class="btn purple back" href="{{btn.url}}">{{btn.label}}</a>
	</div>
</div>
